<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Search</title>

    <link rel="stylesheet" href="/styles/job_search_css.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&display=swap">
    <link rel="stylesheet" href="/styles/all.min.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light  py-3" style="background-color: #F5EFE7;">
        <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <i class="fa fa-snowflake-o fa-lg text-primary mr-2"></i>
                <img src="/styles/logo.svg" alt="Logo" style="max-height: 60px; ">
            </a>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a href="/" class="nav-link " id="navstyle"> Home </a>
                    </li>
                    <li class="nav-item active">
                        <a href="/ent/about_us" class="nav-link " id="navstyle"> About Us </a>
                    </li>
                    <li class="nav-item active">
                        <a href="/ent/job_search" class="nav-link " id="navstyle"> Job Search </a>
                    </li>
                    <li class="nav-item active">
                        <a href="/ent" class="nav-link " id="navstyle"> Entreprise</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h1 class="display-4 text-center" id="title">Internship <i style="font-size:24px" class="fa">&#xf067;</i> Job</h1>

    <form action="/" method="POST">
        <div class="container text-center">
            <div class="row">
                <div class="col container mt-5">
                    <div class="input-group">
                        <input type="search" class="form-control" id="searchInput" placeholder="Search... "
                            aria-label="Search" aria-describedby="basic-addon1">

                        <div class="input-group-prepend">
                            <button class="btn" type="button" id="searchButton"
                                style="background-color:#213555;color: #ffff;">
                                <i class="fa fa-search" id="icone" onclick="searchExamples()"></i>
                            </button>
                        </div>

                    </div>

                    <div class="col container mt-3 checkbox-section" id="locoffres">
                        <h2>Localisation</h2>
                        <% for (const obj of aggregate) { %>

                            <% for (const [key, value] of Object.entries(obj)) { %>
                                <div class="checkbox-item">
                                    <input type="checkbox" name="localisation"
                                        class="mt-0.5 h-6 w-6 shrink-0 rounded-md border-gray-200 text-indigo-900 focus:ring-indigo-900"
                                        value="<%= key %>">
                                    <div class="checkbox-label">
                                        <%= key %>
                                    </div>
                                    <div class="checkbox-results">
                                        <%= value %> results
                                    </div>
                                </div>
                                <%}}%>

                    </div>
                    <div class="col container mt-3 checkbox-section">
                        <h2>Keywords</h2>

                        <div class="checkbox-item">
                            <input type="checkbox" id="python" name="keyword"
                                class="mt-0.5 h-6 w-6 shrink-0 rounded-md border-gray-200 text-indigo-900 focus:ring-indigo-900"
                                value="Python">
                            <div class="checkbox-label">
                                <label for="python">Python</label>
                            </div>
                            <div class="checkbox-results">12 results</div>
                        </div>

                        <div class="checkbox-item">
                            <input type="checkbox" id="webdev" name="keyword"
                                class="mt-0.5 h-6 w-6 shrink-0 rounded-md border-gray-200 text-indigo-900 focus:ring-indigo-900"
                                value="Webdev">
                            <div class="checkbox-label">
                                <label for="webdev">Web Dev</label>
                            </div>
                            <div class="checkbox-results">9 results</div>
                        </div>

                        <div class="checkbox-item">
                            <input type="checkbox" id="javascript" name="keyword"
                                class="mt-0.5 h-6 w-6 shrink-0 rounded-md border-gray-200 text-indigo-900 focus:ring-indigo-900"
                                value="Javascript">
                            <div class="checkbox-label">
                                <label for="javascript">JavaScript</label>
                            </div>
                            <div class="checkbox-results">17 results</div>
                        </div>

                        <div class="checkbox-item">
                            <input type="checkbox" id="sql" name="keyword"
                                class="mt-0.5 h-6 w-6 shrink-0 rounded-md border-gray-200 text-indigo-900 focus:ring-indigo-900"
                                value="Sql">
                            <div class="checkbox-label">
                                <label for="sql">SQL</label>
                            </div>
                            <div class="checkbox-results">8 results</div>
                        </div>

                        <div class="checkbox-item">
                            <input type="checkbox" id="linux" name="keyword"
                                class="mt-0.5 h-6 w-6 shrink-0 rounded-md border-gray-200 text-indigo-900 focus:ring-indigo-900"
                                value="Linux">
                            <div class="checkbox-label">
                                <label for="linux">Linux</label>
                            </div>
                            <div class="checkbox-results">5 results</div>
                        </div>

                        <div class="checkbox-item">
                            <input type="checkbox" id="docker" name="keyword"
                                class="mt-0.5 h-6 w-6 shrink-0 rounded-md border-gray-200 text-indigo-900 focus:ring-indigo-900"
                                value="Docker">
                            <div class="checkbox-label">
                                <label for="docker">Docker</label>
                            </div>
                            <div class="checkbox-results">16 results</div>
                        </div>

                    </div>
                    <div class="row" style="justify-self: center;">
                        <a href="#" onclick="resetFilters()" class="col btn"
                            style="background-color: #D8C4B6; margin: 20px; color: #213555;"><b>Reset</b></a>
                        <button id="applyFiltersBtn" class="col btn"
                            style="background-color:#D8C4B6; margin: 20px; color:#213555;"><b>Filter</b></button>

                    </div>







                </div>


                <div class="col" style="padding-top: 49px;">
                    <div class="card">
                        <% if (examples && examples.length> 0) { %>
                            <% examples.forEach((exampli, index)=> { %>
                                <% for (let offer in exampli.offers) { %>
                                    <% const example=exampli.offers[offer]; %>
                                        <div class=" align-items-center">
                                            <div class="card-body">
                                                <img src="<%= exampli.logo %>" alt="Example Image"
                                                    style="max-width: 100%;">
                                                <br>
                                                <h5 class="fa">
                                                    <%= exampli.name %>
                                                </h5>
                                                <h5>
                                                    <%= example.title %>
                                                </h5>
                                                <p class="fs-6" style="color: #4F709C;">Localisation: <%=
                                                        exampli.location %>
                                                </p>
                                                <div class="badge text-wrap position">
                                                    <i class='fas fa-map-marker-alt'></i>
                                                    <%= exampli.location %>
                                                </div>
                                                <div class="badge text-wrap duree" style="color: #4F709C;">
                                                    <i class='fas fa-clock'></i>
                                                    <%= example.minimal_duration %>-<%= example.maximal_duration %>
                                                            <%= example.duration_type %>
                                                </div>
                                                <p>Description: <%= example.description %>
                                                        <p>
                                                            <%= exampli.keywords %>
                                                        </p>
                                                </p>
                                                <p>Email: <%= example.email %>
                                                </p>
                                                <a href="mailto:<%= example.email %>" class="btn btn-primary"
                                                    style="background-color: #213555;">Send Email</a>
                                            </div>
                                            <% if (index < examples.length - 1) { %>
                                                <hr style="border-top: 1px solid #b6c1cf;">
                                                <% } %>
                                        </div>
                                        <% }; %>
                                            <% }); %>
                                                <% } else { %>
                                                    <p>No examples found</p>
                                                    <% } %>
                    </div>
                </div>

    </form>

    <script src="/scripts/script_job_search.js"></script>
    <script src="/scripts/jquery-3.7.1.min.js"></script>
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

</body>

</html>